<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>uni05D0</string>
      <string>uni05D1</string>
      <string>uni05D2</string>
      <string>uni05D3</string>
      <string>uni05D4</string>
      <string>uni05D5</string>
      <string>uni05D6</string>
      <string>uni05D7</string>
      <string>uni05D8</string>
      <string>uni05D9</string>
      <string>uni05DA</string>
      <string>uni05DB</string>
      <string>uni05DC</string>
      <string>uni05DD</string>
      <string>uni05DE</string>
      <string>uni05DF</string>
      <string>uni05E0</string>
      <string>uni05E1</string>
      <string>uni05E2</string>
      <string>uni05E3</string>
      <string>uni05E4</string>
      <string>uni05E5</string>
      <string>uni05E6</string>
      <string>uni05E7</string>
      <string>uni05E8</string>
      <string>uni05E9</string>
      <string>uni05EA</string>
      <string>nunhafukha</string>
      <string>uni05D4.w0</string>
      <string>uni05D4.w1</string>
      <string>uni05D4.w2</string>
      <string>uni05D4.w3</string>
      <string>uni05D4.w4</string>
      <string>uni05D4.w5</string>
      <string>uni05DC.w0</string>
      <string>uni05DC.w1</string>
      <string>uni05DC.w2</string>
      <string>uni05DC.w3</string>
      <string>uni05DC.w4</string>
      <string>uni05DC.w5</string>
      <string>uni05DD.w0</string>
      <string>uni05DD.w1</string>
      <string>uni05DD.w2</string>
      <string>uni05DD.w3</string>
      <string>uni05DD.w4</string>
      <string>uni05DD.w5</string>
      <string>uni05E8.w0</string>
      <string>uni05E8.w1</string>
      <string>uni05E8.w2</string>
      <string>uni05E8.w3</string>
      <string>uni05E8.w4</string>
      <string>uni05E8.w5</string>
      <string>uni05EA.w0</string>
      <string>uni05EA.w1</string>
      <string>uni05EA.w2</string>
      <string>uni05EA.w3</string>
      <string>uni05EA.w4</string>
      <string>uni05EA.w5</string>
      <string>uni05D3.w0</string>
      <string>uni05D3.w1</string>
      <string>uni05D3.w2</string>
      <string>uni05D3.w3</string>
      <string>uni05D3.w4</string>
      <string>uni05D3.w5</string>
    </array>
  </dict>
</plist>
