<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>uni0591</string>
      <string>uni0592</string>
      <string>uni0593</string>
      <string>uni0594</string>
      <string>uni0595</string>
      <string>uni0596</string>
      <string>uni0597</string>
      <string>uni0598</string>
      <string>uni0599</string>
      <string>uni059A</string>
      <string>uni059B</string>
      <string>uni059C</string>
      <string>uni059D</string>
      <string>uni059E</string>
      <string>uni059F</string>
      <string>uni05A0</string>
      <string>uni05A1</string>
      <string>uni05A3</string>
      <string>uni05A4</string>
      <string>uni05A5</string>
      <string>uni05A6</string>
      <string>uni05A7</string>
      <string>uni05A8</string>
      <string>uni05A9</string>
      <string>uni05AA</string>
      <string>uni05AB</string>
      <string>uni05AC</string>
      <string>uni05AD</string>
      <string>uni05AE</string>
      <string>uni05AF</string>
      <string>uni05B0</string>
      <string>uni05B1</string>
      <string>uni05B2</string>
      <string>uni05B3</string>
      <string>uni05B4</string>
      <string>uni05B5</string>
      <string>uni05B6</string>
      <string>uni05B7</string>
      <string>uni05B8</string>
      <string>uni05B9</string>
      <string>uni05BB</string>
      <string>uni05BC</string>
      <string>uni05BD</string>
      <string>uni05BE</string>
      <string>uni05BF</string>
      <string>uni05C0</string>
      <string>uni05C1</string>
      <string>uni05C2</string>
      <string>uni05C3</string>
      <string>uni05C4</string>
      <string>uni05D0</string>
      <string>uni05D1</string>
      <string>uni05D2</string>
      <string>uni05D3</string>
      <string>uni05D4</string>
      <string>uni05D5</string>
      <string>uni05D6</string>
      <string>uni05D7</string>
      <string>uni05D8</string>
      <string>uni05D9</string>
      <string>uni05DA</string>
      <string>uni05DB</string>
      <string>uni05DC</string>
      <string>uni05DD</string>
      <string>uni05DE</string>
      <string>uni05DF</string>
      <string>uni05E0</string>
      <string>uni05E1</string>
      <string>uni05E2</string>
      <string>uni05E3</string>
      <string>uni05E4</string>
      <string>uni05E5</string>
      <string>uni05E6</string>
      <string>uni05E7</string>
      <string>uni05E8</string>
      <string>uni05E9</string>
      <string>uni05EA</string>
      <string>uni05F3</string>
      <string>uni05F4</string>
      <string>uni25CC</string>
      <string>uni05B305BD</string>
      <string>nunhafukha</string>
      <string>uni05D4.w0</string>
      <string>uni05D4.w1</string>
      <string>uni05D4.w2</string>
      <string>uni05D4.w3</string>
      <string>uni05D4.w4</string>
      <string>uni05D4.w5</string>
      <string>uni05DC.w0</string>
      <string>uni05DC.w1</string>
      <string>uni05DC.w2</string>
      <string>uni05DC.w3</string>
      <string>uni05DC.w4</string>
      <string>uni05DC.w5</string>
      <string>uni05DD.w0</string>
      <string>uni05DD.w1</string>
      <string>uni05DD.w2</string>
      <string>uni05DD.w3</string>
      <string>uni05DD.w4</string>
      <string>uni05DD.w5</string>
      <string>uni05E8.w0</string>
      <string>uni05E8.w1</string>
      <string>uni05E8.w2</string>
      <string>uni05E8.w3</string>
      <string>uni05E8.w4</string>
      <string>uni05E8.w5</string>
      <string>uni05EA.w0</string>
      <string>uni05EA.w1</string>
      <string>uni05EA.w2</string>
      <string>uni05EA.w3</string>
      <string>uni05EA.w4</string>
      <string>uni05EA.w5</string>
    </array>
  </dict>
</plist>
