<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>nunhafukha</key>
    <string>nunhafukha.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni0591</key>
    <string>uni0591.glif</string>
    <key>uni0592</key>
    <string>uni0592.glif</string>
    <key>uni0593</key>
    <string>uni0593.glif</string>
    <key>uni0594</key>
    <string>uni0594.glif</string>
    <key>uni0595</key>
    <string>uni0595.glif</string>
    <key>uni0596</key>
    <string>uni0596.glif</string>
    <key>uni0597</key>
    <string>uni0597.glif</string>
    <key>uni0598</key>
    <string>uni0598.glif</string>
    <key>uni0599</key>
    <string>uni0599.glif</string>
    <key>uni059A</key>
    <string>uni059A_.glif</string>
    <key>uni059B</key>
    <string>uni059B_.glif</string>
    <key>uni059C</key>
    <string>uni059C_.glif</string>
    <key>uni059D</key>
    <string>uni059D_.glif</string>
    <key>uni059E</key>
    <string>uni059E_.glif</string>
    <key>uni059F</key>
    <string>uni059F_.glif</string>
    <key>uni05A0</key>
    <string>uni05A_0.glif</string>
    <key>uni05A1</key>
    <string>uni05A_1.glif</string>
    <key>uni05A2</key>
    <string>uni05A_2.glif</string>
    <key>uni05A3</key>
    <string>uni05A_3.glif</string>
    <key>uni05A4</key>
    <string>uni05A_4.glif</string>
    <key>uni05A5</key>
    <string>uni05A_5.glif</string>
    <key>uni05A6</key>
    <string>uni05A_6.glif</string>
    <key>uni05A7</key>
    <string>uni05A_7.glif</string>
    <key>uni05A8</key>
    <string>uni05A_8.glif</string>
    <key>uni05A9</key>
    <string>uni05A_9.glif</string>
    <key>uni05AA</key>
    <string>uni05A_A_.glif</string>
    <key>uni05AB</key>
    <string>uni05A_B_.glif</string>
    <key>uni05AC</key>
    <string>uni05A_C_.glif</string>
    <key>uni05AD</key>
    <string>uni05A_D_.glif</string>
    <key>uni05AE</key>
    <string>uni05A_E_.glif</string>
    <key>uni05AF</key>
    <string>uni05A_F_.glif</string>
    <key>uni05B0</key>
    <string>uni05B_0.glif</string>
    <key>uni05B1</key>
    <string>uni05B_1.glif</string>
    <key>uni05B2</key>
    <string>uni05B_2.glif</string>
    <key>uni05B3</key>
    <string>uni05B_3.glif</string>
    <key>uni05B305BD</key>
    <string>uni05B_305B_D_.glif</string>
    <key>uni05B4</key>
    <string>uni05B_4.glif</string>
    <key>uni05B5</key>
    <string>uni05B_5.glif</string>
    <key>uni05B6</key>
    <string>uni05B_6.glif</string>
    <key>uni05B7</key>
    <string>uni05B_7.glif</string>
    <key>uni05B8</key>
    <string>uni05B_8.glif</string>
    <key>uni05B9</key>
    <string>uni05B_9.glif</string>
    <key>uni05BB</key>
    <string>uni05B_B_.glif</string>
    <key>uni05BC</key>
    <string>uni05B_C_.glif</string>
    <key>uni05BD</key>
    <string>uni05B_D_.glif</string>
    <key>uni05BE</key>
    <string>uni05B_E_.glif</string>
    <key>uni05BF</key>
    <string>uni05B_F_.glif</string>
    <key>uni05C0</key>
    <string>uni05C_0.glif</string>
    <key>uni05C1</key>
    <string>uni05C_1.glif</string>
    <key>uni05C2</key>
    <string>uni05C_2.glif</string>
    <key>uni05C3</key>
    <string>uni05C_3.glif</string>
    <key>uni05C4</key>
    <string>uni05C_4.glif</string>
    <key>uni05D0</key>
    <string>uni05D_0.glif</string>
    <key>uni05D1</key>
    <string>uni05D_1.glif</string>
    <key>uni05D2</key>
    <string>uni05D_2.glif</string>
    <key>uni05D3</key>
    <string>uni05D_3.glif</string>
    <key>uni05D3.w0</key>
    <string>uni05D_3.w0.glif</string>
    <key>uni05D3.w1</key>
    <string>uni05D_3.w1.glif</string>
    <key>uni05D3.w2</key>
    <string>uni05D_3.w2.glif</string>
    <key>uni05D3.w3</key>
    <string>uni05D_3.w3.glif</string>
    <key>uni05D3.w4</key>
    <string>uni05D_3.w4.glif</string>
    <key>uni05D3.w5</key>
    <string>uni05D_3.w5.glif</string>
    <key>uni05D4</key>
    <string>uni05D_4.glif</string>
    <key>uni05D4.w0</key>
    <string>uni05D_4.w0.glif</string>
    <key>uni05D4.w1</key>
    <string>uni05D_4.w1.glif</string>
    <key>uni05D4.w2</key>
    <string>uni05D_4.w2.glif</string>
    <key>uni05D4.w3</key>
    <string>uni05D_4.w3.glif</string>
    <key>uni05D4.w4</key>
    <string>uni05D_4.w4.glif</string>
    <key>uni05D4.w5</key>
    <string>uni05D_4.w5.glif</string>
    <key>uni05D5</key>
    <string>uni05D_5.glif</string>
    <key>uni05D6</key>
    <string>uni05D_6.glif</string>
    <key>uni05D7</key>
    <string>uni05D_7.glif</string>
    <key>uni05D8</key>
    <string>uni05D_8.glif</string>
    <key>uni05D9</key>
    <string>uni05D_9.glif</string>
    <key>uni05DA</key>
    <string>uni05D_A_.glif</string>
    <key>uni05DB</key>
    <string>uni05D_B_.glif</string>
    <key>uni05DC</key>
    <string>uni05D_C_.glif</string>
    <key>uni05DC.w0</key>
    <string>uni05D_C_.w0.glif</string>
    <key>uni05DC.w1</key>
    <string>uni05D_C_.w1.glif</string>
    <key>uni05DC.w2</key>
    <string>uni05D_C_.w2.glif</string>
    <key>uni05DC.w3</key>
    <string>uni05D_C_.w3.glif</string>
    <key>uni05DC.w4</key>
    <string>uni05D_C_.w4.glif</string>
    <key>uni05DC.w5</key>
    <string>uni05D_C_.w5.glif</string>
    <key>uni05DD</key>
    <string>uni05D_D_.glif</string>
    <key>uni05DD.w0</key>
    <string>uni05D_D_.w0.glif</string>
    <key>uni05DD.w1</key>
    <string>uni05D_D_.w1.glif</string>
    <key>uni05DD.w2</key>
    <string>uni05D_D_.w2.glif</string>
    <key>uni05DD.w3</key>
    <string>uni05D_D_.w3.glif</string>
    <key>uni05DD.w4</key>
    <string>uni05D_D_.w4.glif</string>
    <key>uni05DD.w5</key>
    <string>uni05D_D_.w5.glif</string>
    <key>uni05DE</key>
    <string>uni05D_E_.glif</string>
    <key>uni05DF</key>
    <string>uni05D_F_.glif</string>
    <key>uni05E0</key>
    <string>uni05E_0.glif</string>
    <key>uni05E1</key>
    <string>uni05E_1.glif</string>
    <key>uni05E2</key>
    <string>uni05E_2.glif</string>
    <key>uni05E3</key>
    <string>uni05E_3.glif</string>
    <key>uni05E4</key>
    <string>uni05E_4.glif</string>
    <key>uni05E5</key>
    <string>uni05E_5.glif</string>
    <key>uni05E6</key>
    <string>uni05E_6.glif</string>
    <key>uni05E7</key>
    <string>uni05E_7.glif</string>
    <key>uni05E8</key>
    <string>uni05E_8.glif</string>
    <key>uni05E8.w0</key>
    <string>uni05E_8.w0.glif</string>
    <key>uni05E8.w1</key>
    <string>uni05E_8.w1.glif</string>
    <key>uni05E8.w2</key>
    <string>uni05E_8.w2.glif</string>
    <key>uni05E8.w3</key>
    <string>uni05E_8.w3.glif</string>
    <key>uni05E8.w4</key>
    <string>uni05E_8.w4.glif</string>
    <key>uni05E8.w5</key>
    <string>uni05E_8.w5.glif</string>
    <key>uni05E9</key>
    <string>uni05E_9.glif</string>
    <key>uni05EA</key>
    <string>uni05E_A_.glif</string>
    <key>uni05EA.w0</key>
    <string>uni05E_A_.w0.glif</string>
    <key>uni05EA.w1</key>
    <string>uni05E_A_.w1.glif</string>
    <key>uni05EA.w2</key>
    <string>uni05E_A_.w2.glif</string>
    <key>uni05EA.w3</key>
    <string>uni05E_A_.w3.glif</string>
    <key>uni05EA.w4</key>
    <string>uni05E_A_.w4.glif</string>
    <key>uni05EA.w5</key>
    <string>uni05E_A_.w5.glif</string>
    <key>uni05F3</key>
    <string>uni05F_3.glif</string>
    <key>uni05F4</key>
    <string>uni05F_4.glif</string>
    <key>uni25CC</key>
    <string>uni25C_C_.glif</string>
  </dict>
</plist>
